*.ipynb_checkpoints*
/.idea/.gitignore
/dataset/01-HC3/original/all.jsonl
/.idea/git_toolbox_prj.xml
/dataset/10-GPABenchmark/original/GPABenchmark.csv
/dataset/02-CHEAT/original/ieee-chatgpt-generation.jsonl
/dataset/02-CHEAT/original/ieee-init.jsonl
/LICENSE
/dataset/07-ArguGPT/original/machine-dev.csv
/dataset/07-ArguGPT/original/machine-test.csv
/dataset/07-ArguGPT/original/machine-train.csv
/.idea/misc.xml
/.idea/modules.xml
/dataset/12-OpenGPT/original/OpenGPT.csv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Senior-Project-I.iml
/dataset/03-TweepFake/original/test.csv
/dataset/05-TuringBench/original/test.csv
/dataset/08-DeepfakeTextDetect/original/test.csv
/dataset/11-ScientificArticleBenchmark/original/test.csv
/dataset/03-TweepFake/original/train.csv
/dataset/05-TuringBench/original/train.csv
/dataset/08-DeepfakeTextDetect/original/train.csv
/dataset/11-ScientificArticleBenchmark/original/train.csv
/dataset/05-TuringBench/original/valid.csv
/dataset/08-DeepfakeTextDetect/original/valid.csv
/dataset/03-TweepFake/original/validation.csv
/.idea/vcs.xml
